<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no">
		<title>404</title>
		<!-- <link href="http://xsoft.org/favicon.ico" type="image/x-icon" rel="icon"> -->
        <link type="text/css" href="{{ asset('bundles/segurex/css/style.css') }}" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="wrapper error">
			<div class="wrap">
				<a href="#"><span id="logo" class="icon icon-xsoft"></span></a>
				<h2 class="centring">404</h2>
				<p>Esta página no existe.<br> Intente <a href="#">ir al principio.</a></p>
			</div>
		</div>
	
	</body>
</html>